{% extends 'base.html' %}
{% block title %}
Welcome
{% endblock title %}

{% block body %}
<h1><center>Compliant Files</center></h1>

<table class="table table-striped">
  <tr>
    <th>File Names</th>
    <th></th>
  </tr>
  <tr>
    
    {% for teamname ,ji in Comp %}
    <tr>
        <td>{{ teamname }}</td>
        <td>
          <form action="view_table" method="post">{% csrf_token %} 
            <!-- <button name = ' link ' type="submit" class="btn btn-success" value="Hello" style="color:white">Download Report</a></button> -->
            <!-- <input type="submit" value= {{teamname}} type="button" name="wor"> -->
            <button type="submit" name="wor" value = {{ji}} class="btn btn-success" style="color:white">Download Report</button>


            
          </form>

        </td>
    </tr>
      {% endfor %}
</table>
      {% endblock body %}
