{% extends 'base.html' %}
{% block title %}
Welcome
{% endblock title %}

{% block body %}
<h1><center>Compliant Files</center></h1>

<table class="table table-striped">
  <tr>
    <th>File Names</th>
    <th></th>
  </tr>
  <tr>
    
    {% for teamname in Comp %}
    <tr>
        <td>{{ teamname }}</td>
        <td><button type="button" class="btn btn-success"><a href="cf/{{ teamname }}" style="color:white">Download Report</a></button></td>
    </tr>
      {% endfor %}
</table>
      {% endblock body %}
