{% extends 'base.html' %}{% block title %}PoC Test Result{% endblock title %}{% block body %} <div style='background-color:#2E9FF7'><font color='white'><h2><caption>Stack Infrastructure PoC Test Result</caption></h2></font></div>

        <h1>MAKE A LIST</h1><table class='table table-striped table-hover'>
  <thead>
    <tr style="text-align: right;">
      <th>File Name</th>
      <th>Names</th>
      <th>Credit Card</th>
      <th>Dl Nums</th>
      <th>DOB</th>
      <th>Emails</th>
      <th>Ip_add</th>
      <th>Mac Address</th>
      <th>Phone Number</th>
      <th>SSN Nums</th>
      <th>VIN Nums</th>
      <th>Non Compliance Elemets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Crisis Communication Plan.pdf</td>
      <td></td>
      <td></td>
      <td>7969338773.0</td>
      <td></td>
      <td>gisle.eckhoff@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+47 922 20 008</td>
      <td>761 355050</td>
      <td></td>
      <td>4.0</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>fredrik.jansson@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+46 761 355050</td>
      <td>796933877</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>elennhede@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+46 70 9695333</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>elennhede@gmail.com</td>
      <td></td>
      <td></td>
      <td>+46 70 33 22 705</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>hbjerke@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+46 70 444 22 71</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>dan.oldham@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+47 97175958</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>knapstad@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+44 7813 806 707</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>nnystrom@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+47 93493821</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>mkjeldstrom@DigiPlex.com</td>
      <td></td>
      <td></td>
      <td>+46 72 733 11 50</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Marianne.aanesen@digiplex.</td>
      <td></td>
      <td></td>
      <td>+46 70 969 25 54</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>stein@frisch.as</td>
      <td></td>
      <td></td>
      <td>+45 23 32 53 18</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>sofia.le@rippler.se</td>
      <td></td>
      <td></td>
      <td>+47 928 06 58</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>diana@grimberg.dk</td>
      <td></td>
      <td></td>
      <td>+47 48 222 770</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>alistair@scottcommunication</td>
      <td></td>
      <td></td>
      <td>+47 916 10 911</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>na@radiuscph.dk</td>
      <td></td>
      <td></td>
      <td>+46 70 202 62 25</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>digiplex.ccom@digiplex.com</td>
      <td></td>
      <td></td>
      <td>+45 2629 0962</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>unni.stromstad@evry.com</td>
      <td></td>
      <td></td>
      <td>+45 3543 4995</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>geir.remman@evry.com</td>
      <td></td>
      <td></td>
      <td>7969338773</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>ulrika.andersson@nasdaq.com</td>
      <td></td>
      <td></td>
      <td>+45 3063 7313</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>anders.sunden@cgi.com</td>
      <td></td>
      <td></td>
      <td>+45 3332 1616</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>robert.almqvist@cgi.co</td>
      <td></td>
      <td></td>
      <td>+46 10 588 00 00</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>+47 977 53 453</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>+46 10 588 00 00</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>8-796 90 00</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46 8 405 68 52</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46 73 449 68 52</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>+44 (0) 7809 596 390</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>+46(0)76 948 02 94</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>{% endblock body %}