{% extends 'base.html' %}
{% block title %}
Welcome
{% endblock title %}

{% block body %}
<h1><center>Non Compliant Files</center></h1>

<table class="table table-striped">
  <tr>
    <th>File Names</th>
    <th></th>
  </tr>
  <tr>
    
    {% for teamname ,ji in Comp %}
    <tr>
        <td>{{ teamname }}</td>
        <td>
        <form action="view_table" method="post">{% csrf_token %} 
          <button type="submit" name="wor" value = {{ji}} class="btn btn-success" style="color:white">Download Report</button>
         
          <!-- <button type="submit" name="wor" value={{ji}}>Report</button> -->

          
        </form>
        </td>
    </tr>
      {% endfor %}
</table>
{% endblock body %}